# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.build/
.release/
Makefile.in
autom4te.cache/
common/Makefile.in
config.h.in
config.log
configure
counters/Makefile.in
network/Makefile.in
servers/Makefile.in
obj-x86_64-linux-gnu/
debian/files
debian/libxtd0-dbg.debhelper.log
debian/libxtd0-dbg.substvars
debian/libxtd0-dbg/
debian/libxtd0.debhelper.log
debian/libxtd0.substvars
debian/libxtd0/
debian/.debhelper/
debian/debhelper-build-stamp
xtdmake_*.*
debian/libxtd-dev.debhelper.log
debian/libxtd-dev.substvars
debian/libxtd-dev/
