Source: xtdcpp
Section: utils
Priority: optional
Maintainer: Xavier MARCELET <xavier@marcelet.com>
Standards-Version: 3.9.7
Build-Depends:
  debhelper (>= 9),
  cmake (>= 2.8.7),
  xtdmake (>= 1.3.1),
  libboost-dev(>= 1.54),
  libboost-thread-dev(>= 1.54),
  libboost-filesystem-dev(>= 1.54),
  libboost-system-dev(>= 1.54),
  libboost-regex-dev(>= 1.54),
  libcppunit-dev

Package: libxtd0
Architecture: amd64
Depends: cmake (>= 2.6), ${misc:Depends}, ${shlibs:Depends}
Description: High level C++ development library
 http://github.com/psycofdj/xtdcpp
 .

Package: libxtd-dev
Section: libdevel
Architecture: amd64
Depends: libxtd0 (= ${binary:Version}), ${misc:Depends}
Description: libxtd - development files
 http://github.com/psycofdj/xtdcpp
 .

Package: libxtd0-dbg
Section: debug
Priority: extra
Architecture: amd64
Depends:
    libxtd0 (= ${binary:Version}),
    ${misc:Depends}
Description: debugging symbols for libxtd0
 http://github.com/psycofdj/xtdcpp
 .
